<div class="col-12">
  <div class="form-floating mb-3">
    <input
      type="text"
      disabled
      class="form-control"
      id="floatingInput"
      value="{{this.StudentFirstName}}"
      placeholder="First Name"
      name="first_name"
      required
    />
    <label for="floatingInput">First Name</label>
  </div>
</div>

<div class="col-12">
  <div class="form-floating mb-3">
    <input
      type="text"
      disabled
      class="form-control"
      id="floatingInput"
      value="{{this.studentMiddleName}}"
      placeholder="Middle Name"
      name="middle_name"
      required
    />
    <label for="floatingInput">Middle Name</label>
  </div>
</div>

<div class="col-12">
  <div class="form-floating mb-3">
    <input
      type="text"
      disabled
      class="form-control"
      id="floatingInput"
      value="{{this.studentLastname}}"
      placeholder="Last Name"
      name="last_name"
      required
    />
    <label for="floatingInput">Last Name</label>
  </div>
</div>
<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>