<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      readonly
      class="form-control"
      id="floatingInput"
      value="{{this.first_name}}"
      placeholder="First Name"
      name="first_name"
    />
    <label for="floatingInput">First Name</label>
  </div>
</div>

<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      readonly
      class="form-control"
      id="floatingInput"
      value="{{this.middle_name}}"
      placeholder="Middle Name"
      name="middle_name"
    />
    <label for="floatingInput">Middle Name</label>
  </div>
</div>

<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      readonly
      class="form-control"
      id="floatingInput"
      value="{{this.last_name}}"
      placeholder="Last Name"
      name="last_name"
    />
    <label for="floatingInput">Last Name</label>
  </div>
</div>