<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Subjects">Subjects Management System</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Subject</li>
  </ol>
</nav>

{{#if alert}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}

{{#each rows}}
<form class="row g-3 needs-validation" method="POST" action="/subjects/editsubject/{{this.subjectID}}"> 
  {{> subject-form}}
</form>
{{/each}}