<div class="container">
  <div class="row">
    <div class="col"><p class="home-title">CHOOSE YOUR CARD</p></div>
  </div>

  <div class="row justify-content-center">
    <div class="col-3 user-card"><a href="/Subjects"><i
          class="fal fa-book card-photo"
        ></i><p class="text-card">SUBJECTS</p></a></div>
    <div class="col-3 user-card"><a href="/Teachers"><i
          class="fal fa-chalkboard-teacher card-photo"
        ></i><p class="text-card">TEACHERS</p></a></div>
    <div class="col-3 user-card"><a href="/Students"><i
          class="fal fa-user-graduate card-photo"
        ></i><p class="text-card">STUDENTS</p></a></div>
  </div>
</div>